<p> Hello <%= current_trader.first_name <%= current_trader.last_name %>!</p> %>
      <p>You are logged in.</p>
      <% if !current_trader.admin %>
          <p>You are a trader.</p>
          <p><%= link_to "Portfolio", portfolio_path %></p>
      <% else %>
          <p><strong>You are an admin.</strong></p>
          <p><%= link_to "Portfolio", portfolio_path %></p>
          <p>There are <%= Trader.count %> in the system.</p>
          <p><%= link_to "All Users", traders_path %></p>
          <p><%= link_to "Pending Traders", pending_path %></p>
      <%end %>