<% if current_trader %>
  <div class="dashboard">
    <%= render 'dashboard/nav' %>
    <div class="dash-home">
      <p> Hello <%= current_trader.first_name%> <%= current_trader.last_name%>!</p>
      <p>You are logged in.</p>
      <% if !current_trader.admin %>
          <p>You are a trader.</p>
          <p><%= link_to "Portfolio", portfolio_path %></p>
      <% else %>
          <p><strong>You are an admin.</strong></p>
          <p><%= link_to "Portfolio", portfolio_path %></p>
          <p>There are <%= Trader.count %> in the system.</p>
          <p><%= link_to "All Users", traders_path %></p>
          <p><%= link_to "Pending Traders", pending_path %></p>
      <%end%>

      
      <ul class="overflow">
        <% @top_ten.each do |company| %>
          <div class="company-details">
            <div class="company-name">
              <span><%= company.company_name %></span>
              <strong><%= company.symbol %></strong>
            </div>
            <div class="company-price">
              <strong>$<%= company.latest_price %></strong>
              <% if company.change > 0 %>
                <strong class="green"><i class="fa-solid fa-arrow-trend-up"></i> <%= company.change %>%</strong>
              <% else %>
                <strong class="red"><i class="fa-solid fa-arrow-trend-down"></i> <%= company.change %>%</strong>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>

      <%# <%= link_to "Search", search_path %>
    </div>
  </div>
<% end %>