<h1><%= current_trader.first_name %>'s Portfolio</h1>
<ul>
    <% @owned_stocks.each do |stock|%>
        <li>
            <p>Trader ID: <%= stock[:trader_id]%></p>
            <p>Stock Name: <%= stock[:name]%></p>
            <p>Stock Code: <%= stock[:code]%></p>
            <p>Stock Volume: <%= stock[:volume]%></p>
            <p>Stock Price: <%= stock[:price]%></p>
            <p>Stock Value: <%= stock[:value]%></p>
            <br/>
        </li>
    <%end%>
</ul>
<%= link_to 'Back to Home', root_path %>
