<% if current_trader.admin %>
    <p>Hello <%= current_trader.email %>! You are an admin.

    <% @traders.each do |trader| %>
    <ul>
     <li>
      <p>
        <strong>ID:</strong>
        <%= trader.id %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= trader.email %>
      </p>
      </li>
      <%= link_to "Show trader", trader %>
    </ul>
    <% end %>

<% else %>
    <p>Hello <%= current_trader.email %>! You are a basic trader. You cannot access this page.
<%end%>