<% if current_trader.admin %>
    <p>Hello <%= current_trader.first_name %> <%= current_trader.last_name %>! You are an admin.

    <% @traders.each do |trader| %>
    <ul>
     <li>
      <p>
        <strong>ID:</strong>
        <%= trader.id %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= trader.first_name %> <%= trader.last_name %>
      </p>

      </li>
      <%= link_to "Show trader", trader %>
    </ul>

    <% end %>
    <%= link_to "Sign Out", destroy_trader_session_path, 'data-turbo-method': :delete %>

<% else %>
    <p>Hello <%= current_trader.first_name %> <%= current_trader.last_name %>! You are a basic trader. You cannot access this page.
    <%= link_to "Sign Out", destroy_trader_session_path, 'data-turbo-method': :delete %>
<%end%>