    <ul>
      
      <li><p><strong>ID: </strong><%= @trader.id%></p></p>
      <p><strong>Email: </strong><%= @trader.email%></p>
      <p><strong>Username: </strong><%= @trader.username%></p>
      <p><strong>Age: </strong><%= @trader.age%></p>
      <p><strong>Admin: </strong><%= @trader.admin%></p>
      </li>
    </ul>

<div>
  <%= link_to "Edit this trader", edit_trader_path(@trader) %> |
  <%= link_to "Back to traders", traders_path %> | 


  <%= button_to "Destroy this trader", @trader, method: :delete %>
</div>