<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<% if current_trader.approved_boolean %>
<div id="stocks">
  <% @stocks.each do |stock| %>
    <%= stock.code%>
    <%= stock.name%>
    <%= render stock %>
    <p>
      <%= link_to "Show this stock", stock %>
    </p>
  <% end %>
</div>
<%else%>
  <p>You are not approved to trade.</p>
<%end%>

<%# <%= link_to "New stock", new_stock_path %> %>
