<div class="stocks">
  <%= render 'stocks/nav' %>
  <div>
    <h1>Stocks</h1>
    <% if current_trader.approved_boolean %>
      <%= search_form_for(@query, url: search_path, method: :get) do |f| %>
          <%= f.search_field :code_or_name_i_cont_any, placeholder: "Search..." %>
          <%= f.submit "Search!" %>
      <% end %>
      <br />
      <div id="stocks" class="stocks-details">
        <% @stocks.each do |stock| %>
          <% if stock.name != nil %>
            <%= stock.id %>
            <%= stock.code %>
            <%= stock.name %>
            <span>
              <%= link_to "Show this stock", stock %>
            </span>
            <br>
          <% end %>
        <% end %>
      </div>
    <%else%>
      <p>You are not approved to trade.</p>
    <%end%>
    <%# <%= link_to "New stock", new_stock_path %>
  </div>
</div>

