<p style="color: green"><%= notice %></p>

<%= @stock.code%>
<%= @stock.name%>
<%= render @stock %>

<div>
  <%= link_to "Edit this stock", edit_stock_path(@stock) %> |
  <%= link_to "Back to stocks", stocks_path %>
</div>
