<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :volume, style: "display: block" %>
    <%= form.number_field :volume %>
  </div>

  <div>
    <%= form.label :trader_id, style: "display: block" %>
    <%= form.number_field :trader_id, value: current_trader.id %>
  </div>

  <div>
    <%= form.label :stock_id, style: "display: block" %>
    <%= form.number_field :stock_id %>
  </div>

  <div>
    <div class="field">
    <%= form.label :transaction_type %><br />
    <%= form.label :transaction_type, "Buy", value: "true"  %>
    <%= form.radio_button :transaction_type, true, checked: transaction.transaction_type %>
    <%= form.label :transaction_type, "Sell", value: "false" %>
    <%= form.radio_button :transaction_type, false, checked: !transaction.transaction_type %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
