<div id="<%= dom_id transaction %>">
  <p>
    <strong>Price:</strong>
    <%= transaction.price %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= transaction.volume %>
  </p>

  <p>
    <strong>Trader ID:</strong>
    <%= transaction.trader_id %>
  </p>

  <p>
    <strong>Stock ID:</strong>
    <%= transaction.stock_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%if transaction.transaction_type%>
    Buy
    <%else%>
    Sell
    <%end%>
  </p>

</div>
