<div class="transactions">
    <%= render 'transactions/nav' %>
    <div>
      <p style="color: green"><%= notice %></p>

      <h1><%= current_trader.admin ? "Users Transaction" : "Transactions" %></h1>

      <div id="transactions">
        <% @transactions.each do |transaction| %>
          <p>Created At: <%= transaction.created_at %></p>
          <%= render transaction %>
          <br/>
        <% end %>
      </div>

      <%# <%= link_to "New transaction", new_transaction_path %>
    </div>
</div>



